.admin-container {
  display: flex;
}
  .admin-sales-container {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    background-color: #f9f9f9;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .admin-sales-container-bottom{
    display: flex;
  }
  